data/
data/*
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/dd/a05931d3217600101a838d938ca89a66
.metadata/.plugins/org.eclipse.core.resources/.projects/Utilities/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Utilities/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Utilities/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.core.index.sql.h2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/gatherTblFiles.php.launch
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.0.log.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.data.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.index.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.lock.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.trace.db
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/PDO.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/Reflection.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SPL.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SQLite.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SimpleXML.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/basic.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/bcmath.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/bz2.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/calendar.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/com_dotnet.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ctype.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/curl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/date.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/dom.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/exif.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/filter.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ftp.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/gd.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/gettext.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/hash.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ibm_db2.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/iconv.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/imagick.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/imap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/intl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/json.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ldap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/libxml.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mbstring.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mcrypt.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mhash.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mime_magic.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mssql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mysqli.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/oci8.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/odbc.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/openssl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pcre.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_sqlite.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/posix.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/session.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/soap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/sockets.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/standard.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/tidy.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/tokenizer.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/wddx.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xml.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xmlreader.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xmlwriter.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xsl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/zip.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/zlib.php
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.johnss4-macbook-2_0/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.johnss4-macbook-2_0/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.johnss4-macbook-2_0/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
utilities/.buildpath
utilities/.project
utilities/.settings/org.eclipse.php.core.prefs
