div.RV {
	margin: 10px;
	min-width: 1050px;
}

/*	Graph */
div.RvGraph {
	width: 600px;
	height: 600px;
	float: left;
}

div.rvTools {
	float: right;
	margin-left: 5px;
	font-family: "Georgia", serif;
	z-index: 1;
}

/* Form */

div.starDataForm {
	float: right;

}

div.rvDataForm {
	clear: both;
}

/* RvParameters */
div.RvParameter {
	width: 400px;
	padding: 15px;
	border-bottom: 1px dotted #AAAAAA;
}

div.lastOrbelParameter {
	border-bottom: 0;
}

div.rvCurvePlot {
	
}

fieldset.orbelsSet {
	border: 1px solid #AAAAAA;
	background: #EFEFEF;
}

legend.orbelsSetLegend {
	background-image: url('images/graph_label.png');
	background-repeat: no-repeat;
	color: #190707; 
	font-family: georgia, serif;
	font-size: 15px;
  	text-align: center;
  	padding-top: 3px;
  	width: 110px;
  	height: 26px;
}

label.rvParameterLabel {
	margin-left: 10px;
}