div#header {
	background-color: #EEEEEE;
	height: 2.5em;
	box-shadow: 0 0 5px #333333;
	-webkit-box-shadow: 0 0 5px #333333; /* Safari */
}

div#logo {
	margin: 5px;
	font-size: 1.3em;
	float: left;
}

#logo a {
	color: #000077;
	text-decoration: none;
}

div#accountInfo {
	float: right;
	margin: 0;
	font-size: 1.3em;
}

div#loginDialog {
	width: 250px;
}

div#loginDialog span.formRow {
	display: block;
	height: 2em;
	margin: 2px;
}

div#loginDialog span.formRow label {
	display: block;
	padding: 4px 0 0 5px;
}

div#loginDialog .leftSide {
	float: left;
}

div#loginDialog .rightSide {
	float: right;
}

#page {

}

#content {

}